[2020-01-15 13:46] prabhu opened #1 "Scalability issue with sync-request"
https://github.com/AppThreat/sast-scan/issues/6

```node: src/unix/core.c:187: uv_close: Assertion `0' failed.```

[2020-02-04 10:11] prabhu opened #2 "Implement recurse mode"
Recursively look for dependency lists to prepare individual and grouped BoM

[2020-03-07 09:34] prabhu commented on #1
This is resolved with 1.3.0 which uses got instead of sync-request

[2020-03-07 09:45] #1 closed

[2020-04-23 17:16] thinksabin opened #3 "issue in mvn and node based single repo"
hi,

running the cdxgen I have encounter an issue which I'm not even sure about the cause. My project structure has java and nodejs application in the same repo. Although the bom.xml file not created I'm not sure if it has listed all the requirement dependencies in the project.

project directory structure:
Gruntfile.js	README.md	bom.xml		bom2.xml	fonts		node_modules	package.json	pom.xml		src

com

[2020-05-21 08:06] prabhu commented on #3
This is an interesting case. Can you execute the command separately once for java and once for nodejs?

[code]

Also while reviewing the error I noticed that the code was missing const and let declarations on the `parseBom` function. Can you update the npm package and see if this is resolved?

[2020-05-21 08:07] prabhu opened #4 "Implement license lookup for go"

[2020-05-29 12:47] prabhu commented on #4
Added basic support for go license lookup in 1.4.15

[2020-05-29 12:47] #4 closed

[2020-06-16 10:06] prabhu opened #5 "Implement fallback for nodejs"
For nodejs projects, bom generation is failing without `node_modules` directory. We should be able to fallback to parsing package-lock.json in such cases.

[2020-06-16 11:54] prabhu commented on #5
This is implemented in 1.4.23

[2020-06-16 11:54] #5 closed

[2020-06-18 10:48] Barkole opened #6 "FR: Yarn support"
Please add also support for `yarn.lock`

[2020-06-18 19:58] prabhu commented on #6
This is implemented with 1.4.29

[2020-06-18 19:58] #6 closed

[2020-06-18 22:13] prabhu opened #7 "clojure example"
(defproject foo "0.1.0-SNAPSHOT"
  :description "FIXME: write description"
  :url "http://example.com/FIXME"
  :dependencies [[org.clojure/clojure                "1.10.1"]
                 [org.clojure/data.json              "0.2.6"]
                 [com.amazonaws/aws-lambda-java-core "1.2.0"]
                 [com.novemberain/pantomime          "2.11.0"]
                 [com.cognitect.aws/api

[2020-06-18 22:22] prabhu opened #8 "Gemfile.lock example"
[code]

[2020-06-18 22:25] prabhu opened #9 "Podfile.lock example"
[code]

[2020-06-23 22:12] prabhu opened #10 "Php composer support"

[2020-06-29 12:05] prabhu commented on #10
Added in 1.4.32

[2020-06-29 12:05] #10 closed

[2020-07-02 06:10] #2 closed

[2020-07-05 09:07] prabhu opened #11 "Create cdxgen AppImage"

[2020-07-05 17:34] prabhu commented on #11
This is now complete. New releases would automatically get published in appimage format.

[2020-07-05 17:34] #11 closed

[2020-07-10 12:47] prabhu opened #13 "Enhancement: Protocol Buffers support"
XML format of CycloneDX has served us well over many years. However, with ever expanding languages and attributes the format has started showing its age affecting the performance of NextGen applications. XML is awesome for enterprises but is slowing down creative and innovative ideas.

I have decided to support Protocol Buffers with this tool. Given the effort involved it is going to take time. Pl

[2020-07-19 10:55] prabhu opened #14 "pnpm-lock.yaml example: pnpm support"
https://raw.githubusercontent.com/pnpm/benchmarks-of-javascript-package-managers/master/pnpm-lock.yaml

[code]

[2020-07-19 10:58] prabhu commented on #14
The logic is already there. Except it only works with rush.js and not independently. There is a possibility to refactor it out and simplify the logic a bit better.

[2020-07-20 20:44] prabhu opened #15 "CycloneDX 1.2 json support"
CycloneDX 1.2 brings json support. We need to implement this as an export option.

[2020-07-20 23:05] prabhu commented on #15
2.0.0 release supports json

[2020-07-20 23:05] #15 closed

[2020-07-20 23:05] prabhu commented on #14
2.0.0 release supports pnpm

[2020-07-20 23:05] #14 closed

[2020-07-22 14:58] prabhu commented on #8
Implemented with 2.0.4

[2020-07-22 14:58] #8 closed

[2020-07-22 19:58] #3 closed

[2020-12-04 21:36] amlweems opened #20 "cannot parse csproj files with only one ItemGroup"
If you modify the `sample.csproj` file to use a single ItemGroup, parsing will fail. For example:

`test/sample.csproj`:
[code]

[code]

[2020-12-04 21:44] #20 closed

[2021-01-09 06:30] amlweems opened #24 "The --recurse option is not supported for maven, ruby, php, rust, or golang"
The `--recurse` option sets `options.multiProject`, which is used in several places throughout the code in calls to `utils.getAllFiles`. However, only the following file types use the recursive search:

- `build.gradle`
- `build.sbt*`
- `*.csproj`
- `yarn.lock`
- `package-lock.json`
- `pnpm-lock.yaml`
- `requirements.txt`

As a result, creating a single nested directory will cause cdxgen to fail f

[2021-01-09 09:04] prabhu commented on #24
@amlweems Thank you for this ticket. Is this issue affecting any of your project? This would help from a prioritization perspective.

maven does support recurse (multiProject) mode since the logic is built-in to `makeAggregateBom`. There are some limitations - This would work for multi-module project but not for monorepos containing multiple independent projects.

[2021-01-09 13:51] amlweems commented on #24
@prabhu I come across this often in security assessments as I'm often reviewing many repositories at once for a given application. Since the structure of the repositories isn't under my control, I find that the dependency files are often not in the root directory.

It would be nice to run cdxgen in one top-level directory and have it produce a BOM across all repositories I'm reviewing without need

[2021-01-11 18:06] prabhu commented on #24
Thanks @amlweems for the clarification. Will take a look at this. Meanwhile, please use a workaround such as bash for loop to repeatedly invoke cdxgen from a directory containing applications. bom.json produced in this case would map to a single application each.

[2021-01-12 18:36] prabhu commented on #24
Hi @amlweems

Will you be able to test the branch `feature/recurse`?

You can do the following:

[code]

I will be happy to add any missing things based on your observation.

[2021-01-12 19:23] amlweems commented on #24
I've tested this branch on my local test projects for ruby, php, rust, and golang. All are working great recursively! Thanks!

[2021-01-12 19:27] #24 closed

[2021-01-12 19:28] prabhu commented on #24
Cool. Thank you @amlweems

[2021-01-29 11:52] prabhu commented on #13
unlikely to happen

[2021-01-29 11:52] #13 closed

[2021-02-09 08:16] sgarciaquobis opened #30 "Problem uploading BOM to OWASP Dependency Track"
I was trying to use **cdxgen** to generate BOM and upload it to Dependency Track for analysis, but it doesn't work. The project is created in Dependency Track (if it doesn't exist) and the BOM file is uploaded, but the analysis fails. In the logs I can see errors like this:

`dtrack-apiserver_1  | Caused by: org.datanucleus.exceptions.NucleusUserException: Attempt to store value "d3af366f679d75a6f

[2021-02-09 09:06] prabhu commented on #30
@sgarciaquobis That particular line looks ok. Can you share the language and package manager format so that I can check how sha 256 value gets constructed?

[2021-02-09 09:22] sgarciaquobis commented on #30
Thanks for the quick response. I was testing with Python using a requirements.txt file. In that line of code **digest** is 64 characters long, but when it's encoded in hexadecimal (**hash** variable) it's 96 characters.

For example:
**digest** 0682b2eddab16151da5bd4ef38081e9b27f8eb33cd29baf41f4996d4e88e6e70
**hash** (SHA-256) d3af366f679d75a6f5eb5e7575ae5b77879fdfcd3cd5ef5bdbb7fc79bdf771ddbd6da7f

[2021-02-09 10:02] prabhu commented on #30
As per CycloneDX spec, the pattern should be an hex value with 64 or 96 or 128 characters long

[code]

https://cyclonedx.org/docs/1.2/#type_hashValue

I checked the reference implementation and they seem to be doing the same hex conversion [here](https://github.com/CycloneDX/cyclonedx-node-module/blob/12789a6e7bd990e05bbf22b844f8f170f5286a70/model/HashList.js#L66)

Can you file a ticket in depend

[2021-02-09 11:22] sgarciaquobis commented on #30
I checked CycloneDX spec and understood the different types of hashes:
- MD5 32 characters
- SHA-1 40 characters
- SHA-256 64 characters
- SHA-512 128 characters

The problem is that after the hex conversion the string is longer. I'm not sure if dependency track should be doing the opposite conversion (hex to original hash) before trying to insert it into the database.

Anyway, using the reference

[2021-02-09 13:05] prabhu commented on #30
Thanks @sgarciaquobis for the detailed investigation and explanation. I understood the problem now. Indeed the hex conversion is not required for python and possibly other languages too. Let me think of a way to implement this check and push an update.

[2021-02-09 13:12] sgarciaquobis commented on #30
No problem, happy to help.

It might not be the most elegant solution but this will return **digest** if it's already in hex format, or empty string otherwise.

`Buffer.from(digest, 'hex').toString('hex')`

[2021-02-09 13:22] #30 closed

[2021-02-09 13:25] prabhu commented on #30
Yes, used a logic similar to that along with a pattern regex. 2.2.7 should have the fix.

[2021-02-09 13:27] prabhu commented on #30
Thank you. Would appreciate if you could re-test and confirm if it works for you.

[2021-02-09 14:34] sgarciaquobis commented on #30
It's working perfectly now. Thank you very much for the quick response and fix.

[2021-02-10 08:30] shayrybak opened #31 "When using cdxgen to generate SBOM for a Python application The hash is stored in the wrong format"
I've got a Python application which I used cdxgen on to generate the BOM file, When I try to upload it to DependencyTrack I get an error
`43.511 ERROR [BomUploadProcessingTask] Error while processing bom
javax.jdo.JDOFatalUserException: Attempt to store value "77c6f6e3aeb8e7ad5dd1ddf875d7da79ce78eb7e9de74d9dedc79ae9edbd73779a7faf1fddd7fad7cd3ceb77b6d7ae9e" in column ""SHA_256"" that has maximum le

[2021-02-10 08:40] prabhu commented on #31
Hi @shayrybak , I fixed a similar error yesterday as part of #30 . The fix is live in 2.2.7. Can you re-test and let me know how it looks for you?

[2021-02-10 09:10] shayrybak commented on #31
Sure let me test that, and I'll update here.

[2021-02-10 11:16] shayrybak commented on #31
@prabhu Thank you, I can confirm this is working in 2.2.7. going to close my PR.

[2021-02-10 11:26] shayrybak commented on #31
Closing the issue as well, as this is fixed.

[2021-02-10 11:26] #31 closed

[2021-02-16 09:25] prabhu opened #33 "npm 7 v3 format support"
https://nitayneeman.com/posts/catching-up-with-package-lockfile-changes-in-npm-v7/
https://github.com/del-systems/swatcher/blob/master/package-lock.json

We may have to dump read-installed at some point

https://github.com/npm/read-installed

[2021-02-16 09:29] prabhu opened #34 "License lookup for npm"
Similar to how we fetch licenses for go packages we have request from clients to include licenses for npm packages as well. Perhaps, this should be an opt-in flag since there will be far too many npm packages.

We can also think about a breaking change for go to only fetch licenses with the presence of a flag. Currently, license lookup is performed by default for go and an environment variable `SK

[2021-02-18 10:19] yutayamate opened #35 "HTTP / HTTPS proxy option support"
Hi,

I was trying to use the tool under a network where HTTP / HTTPS proxy is required for the Internet access, but it does not work.

Since there is no way to set the proxy on Node globally (e.g. `HTTP_PROXY`, `HTTPS_PROXY`), it would be great if the proxy option is offered by this tool.

Thank you.

[2021-02-18 12:02] prabhu commented on #35
Hi @yutayamate

Thank you for your issue. Will you be able to send a PR based on the below instructions?

We can use global-agent
https://github.com/gajus/global-agent

1. Add the below to bin/cdxgen

[code]

2. Set an environment variable
export GLOBAL_AGENT_HTTP_PROXY=http://127.0.0.1:8080

3. Run cdxgen

[2021-02-18 13:14] yutayamate commented on #35
Thank you for the instruction, @prabhu. Let me try it and send a PR once the implementation is done.

[2021-02-18 14:32] prabhu commented on #35
Thank you for your contribution! Please test version 2.2.8 and let me know if it works as intended.

[2021-02-18 16:10] yutayamate commented on #35
[code]

It worked with v2.2.8!
Thank you very much for quick confirmation and accepting the request!

[2021-02-18 16:24] prabhu commented on #35
Thank you! Closing this issue.

[2021-02-18 16:24] #35 closed

[2021-02-21 11:36] prabhu opened #37 "Produce BoM from war/ear/zip files"
From built artifacts

[2021-02-21 11:36] prabhu opened #38 "Produce BoM for container images"
This might require some thinking.

[2021-02-28 05:07] prabhu commented on #34
Implemented with 2.2.9

[2021-02-28 05:07] #34 closed

[2021-02-28 11:24] prabhu commented on #37
2.2.10 supports generating bom from war file. This should do for now.

[2021-02-28 11:24] #37 closed

[2021-03-02 12:02] prabhu opened #41 "Support for spdx output"
There might be organizations that prefer one format over another so let's support both the formats ;)

[2021-03-08 09:07] shayrybak opened #43 "cdxgen fails to parse gnu license with Error: Invalid character in string"
Hello,

I'm trying to create a bom for a python app with the following requirements
`airbrake==2.1.0
amqp==2.1.1
backports.ssl-match-hostname==3.4.0.2
blinker==1.3
boto==2.32.1
certifi==2017.7.27.1
chardet==3.0.4
configobj==5.0.6
Django==1.6.6
dnspython==1.11.1
GeoIP==1.3.2
gevent==1.1.1
greenlet==0.4.10
hiredis==0.1.4
idna==2.6
Jinja2==2.7.3
kombu==4.0.0
lockfile==0.9.1
lxml==3.3.5
MarkupSafe==0.

[2021-03-08 09:11] shayrybak commented on #43
I've run some tests to verify which package is breaking this, and it's this requirement GeoIP==1.3.2

[2021-03-08 10:07] prabhu commented on #43
Thank you for reporting. I have fixed and released 2.2.13.

pypi was returning the entire license content instead of the id for that particular package which was something new. I have fixed by automatically trying to guess the id in cases where the content has newlines or over a certain length.

[2021-03-08 10:07] #43 closed

[2021-03-08 10:12] shayrybak commented on #43
Thank you so much for the quick fix

[2021-03-13 15:10] prabhu commented on #33
We still have time for this since v2 is backwards compatible with v1. Only v3 is going to introduce breaking changes. On v2, there is a new packages attribute with keys pointing to the location which will need trimming to make it useful from a BoM perspective.

[code]

[2021-04-02 13:39] F242MX opened #44 "Unable to work with cdxgen"
I'm unable to use cdxgen in whatever version.

Here is what I get:

npm install -g @appthreat/cdxgen
npm WARN deprecated request@2.88.2: request has been deprecated, see https://github.com/request/request/issues/3142
npm WARN deprecated cheerio-select-tmp@0.1.1: Use cheerio-select instead
npm WARN deprecated har-validator@5.1.5: this library is no longer supported
/usr/bin/cdxgen -> /usr/lib/node_

[2021-04-02 17:11] prabhu commented on #44
@F242MX I have been using node 12 and recently 14. Can you confirm the version of node being used?

[2021-04-07 08:39] prabhu commented on #44
@F242MX did the node version help?

[2021-04-08 20:46] erichs opened #45 "Incorrect BOM when private repos are added"
Related to https://github.com/ShiftLeftSecurity/sast-scan/issues/291,

I have attempted to document my finding here: https://github.com/erichs/testdependency-resolution

[2021-04-09 09:29] prabhu commented on #45
@erichs This is good insight. What is happening is the ordering of searches performed by cdxgen and the presence of node_modules directory. If you remove `node_modules` directory and run cdxgen it will only use the `package-lock.json` or `yarn.lock`. If there is a node_modules folder, then cdxgen gives importance to node_modules folder. Why? With node.js, the presence of a vulnerable library insid

[2021-04-09 14:50] erichs commented on #45
If there were indeed vulnerable modules versions present in the `node_modules` folder, I would absolutely agree with you: install-time hooks could be abused to perform RCE, maliciously modify code/templates, etc. I tried to show above that the vulnerable package versions found in the BOM are *NOT* present in the `node_modules` folder at all:

[code]

In the example repo above, npm/yarn are satisfy

[2021-04-09 15:18] erichs commented on #45
Upon further thought, I'm not fully confident in my claim that:

I think it might be necessary to actually visit the modules on disk (when present) to collect an accurate BOM.

(over)-simplifying: `find . -name package.json -exec jq '"\(.name)@\(.version)"' {} \;`

[2021-04-09 16:27] prabhu commented on #45
Sure, let's setup a zoom session to go through this. Can you email me at prabhu @ shiftleft. io

[2021-04-09 17:45] erichs commented on #45
Perfect, thanks!

[2021-04-29 17:20] erichs opened #48 "cdxgen throws on monorepo input"
[code]

[2021-04-29 18:12] prabhu commented on #48
@erichs Thanks for filing this. Could you kindly share the directory structure using `tree` command?

[2021-04-29 19:58] prabhu commented on #48
Pushed a potential fix. Please re-test and let me know how it looks.

[2021-04-29 21:20] erichs commented on #48
wow, that was fast! I'll take a look.

[2021-04-29 21:28] erichs commented on #48
Thanks! That doesn't throw anymore, but still emits `The "path" argument must be of type string. Received undefined` errors to stdout/stderr, and doesn't generate a BOM file. I'll send along a tree output, it's quite lengthy.

[2021-04-29 21:32] erichs commented on #48
The fix above *does* write a BOM file when `node_modules` is absent.

[2021-04-29 22:59] erichs commented on #48
Yeah, I think it is safe to say that your change above addresses the proximate cause of failure (thrown errors preventing bomfile generation). Thanks!!

[2021-04-29 22:59] #48 closed

[2021-05-04 10:17] F242MX commented on #44
Sorry for the delay.
Yes it did solve the issue.
Thank you :)

[2021-05-04 10:39] #44 closed

[2021-05-05 12:08] prabhu opened #49 "Upgrade to cyclonedx 1.3"
Hurray!

[2021-05-09 14:26] prabhu opened #51 "ESM conversion"
Planning to convert this repo to [ESM](https://gist.github.com/sindresorhus/a39789f98801d908bbc7ff3ecc99d99c)

[2021-05-12 07:03] ghost opened #53 "[Dependency-Track integration] JSON BOM upload fails with Dependency Track 4.2.2"
Steps:
1. Generate JSON BOM with cdxgen for node project
2. Base64 encode that JSON BOM and added it into another JSON file that has the format required for upload to DT
3. Upload to DT via the REST API
4. Got an error while processing it in the DT api server
[code]

I suspect that the authors field is causing the error.

I've also tried uploading the raw JSON BOM via the web UI and encountered th

[2021-05-12 09:09] prabhu commented on #53
@mattwongsd Thank you filing this defect. Looks like the name attribute is duplicated possibly because we are getting an object instead of a string here

https://github.com/AppThreat/cdxgen/blob/master/index.js#L94

Could you kindly send a PR so that we hardcode the name to resolve this issue?

[2021-05-12 09:11] prabhu commented on #53
On locally the structure looks fine so I'm confused a bit. Could you share the node version used? Also, cdxgen can upload directly to dependency track. Is that something you could try as well when you get a chance?

[2021-05-24 17:47] prabhu commented on #53
@mattwongsd any updates regarding this?

[2021-05-25 02:20] mattwongsd commented on #53
https://github.com/AppThreat/cdxgen/pull/54

The upload to DT does not work. I do not get any feedback when I provided the command arguments,

[2021-05-25 16:32] prabhu commented on #53
@mattwongsd Any luck with the new version? Once this works, I might ask for your help to replace use of `request` package with `got`. It is used only for bom submission atm.

[2021-05-28 09:38] prabhu opened #56 "Support for windows containers"

[2021-05-28 09:38] prabhu opened #57 "Support for .net core dll"

[2021-05-28 09:39] prabhu opened #58 "Support for OS packages and binaries"

[2021-05-31 01:48] brumfb opened #59 "Parsing go.mod files incorrectly skips files ending with `go `"
The overmatching in [parseGoModData](https://github.com/AppThreat/cdxgen/blob/master/utils.js#L1215) function causes the scanner to skip modules that end with a `go `, such as `aws-sdk-go`.

Example that would be incorrectly skipped:
[code]

[2021-05-31 18:13] brumfb opened #61 "Parsing go.mod with single require statement results in no BOM"
cdxgen does not properly parse a go.mod with a single requirement. Example:

[code]

results in `Unable to produce BOM` message if SCAN_DEBUG_MODE=1 is set.

Expected Behavior:
Parser would properly handle either the multi-line `require ( ... )`  or single line `require ...`

[2021-06-01 20:12] #59 closed

[2021-06-05 21:02] prabhu commented on #61
@brumfb Is this fixed with your recent PR? If not, would you like to contribute another one?

[2021-06-05 21:03] prabhu commented on #45
@erichs I've made several changes to the nodejs portion. Could you retest with the latest version and let me know how it looks?

[2021-06-07 02:17] dlorenc opened #62 "Golang parsing incorrect"
It appears from https://github.com/AppThreat/cdxgen/pull/42 that you parse the go.mod file itself to detect Go dependencies.

This is incorrect, and results in missing indirect dependencies, as well as potentially incorrect direct dependencies due to build tags. See here for more discussion on the correct ways: https://github.com/CycloneDX/cyclonedx-gomod/issues/20

[2021-06-07 15:30] prabhu commented on #62
@dlorenc Thank you for this ticket. Out of curiosity, can you repeat your test with gosum mode by setting the environment variable `USE_GOSUM` to `true`

[2021-06-12 16:07] prabhu commented on #62
@dlorenc Could you kindly retest with version 3.0.5. I'm using both go list and mod commands to retrieve the full list but set the scope attribute to required and optional. This makes the tool consistent with the node.js implementation.

[2021-06-30 21:37] erichs commented on #45
@prabhu sorry for the delayed response, here. I retested with the isolated problematic yarn.lock file here, and got clean results:

[code]

Version 3.0.6 appears to have fixed this issue. 🥇  Thank you!

[2021-07-01 07:24] prabhu commented on #45
Awesome! Thank you for re-testing.

[2021-07-01 07:24] #45 closed

[2021-07-12 11:40] coderpatros opened #65 "Non-conformat XML generated"
The CycloneDX XML schema uses xs:sequence to specify that element order is required.

I haven't reproduced this myself, but just had this issue raised for the CycloneDX CLI Tool https://github.com/CycloneDX/cyclonedx-cli/issues/152

The problem is that the externalReferences element is before the metadata element in the BOM.

[2021-07-12 13:01] #65 closed

[2021-07-12 13:03] prabhu commented on #65
Thank you for reporting. This is fixed in 3.0.9

[2021-07-16 08:38] Swapnil-CSI opened #66 "How to exclude devDependencies"
Is there a way to create the bom.xml for Node.js with only the "dependencies", excluding the "devDependencies" ?

[2021-07-16 09:34] prabhu commented on #66
@Swapnil-CSI Dynamic languages such as Javascript and python allows developers to import any package from the node_modules directory or sys path and not just direct dependencies mentioned in package.json. Developers would often even forget this as long as the code builds. So, the approach taken by cdxgen is

- Collect all packages from the lock file or from node_modules
- Perform usage detection t

[2021-07-16 10:22] Swapnil-CSI commented on #66
Thanks, @prabhu For the detailed explanation.

[2021-07-16 10:23] #66 closed

[2021-07-16 10:37] #62 closed

[2021-07-16 10:38] #61 closed

[2021-07-16 10:41] prabhu opened #67 "Support for go binary"
Few approaches to collect package list from a go binary

[code]

One could also produce a mini binary containing just go version command it seems.

[2021-07-28 02:57] dreamerkr opened #68 "SyntaxError: Unexpected token"
1、npm install -g @appthreat/cdxgen

2、cdxgen -h ，but error
C:\Users\wz\AppData\Roaming\npm\node_modules\@appthreat\cdxgen\node_modules\got\dist\source\create.js:157
    const paginateEach = (async function* (url, options) {
                                        ^
SyntaxError: Unexpected token *
    at createScript (vm.js:80:10)
    at Object.runInThisContext (vm.js:139:10)
    at Module._compile

[2021-07-28 03:17] dreamerkr commented on #68
node version problem

[2021-07-28 03:17] #68 closed

[2021-07-28 10:04] Swapnil-CSI opened #69 "BOM validation failed due to nested URL element."
cdxgen is adding nested url element in output.
[code]
bom output file. Please refer attachment.
[code]
[console-browserify-sbom.zip](https://github.com/AppThreat/cdxgen/files/6892132/console-browserify-sbom.zip)

[2021-07-28 21:30] 37b opened #70 "python setup.py support"
The documentation states Python packages are supported via setup.py, but there is no documentation (that I can see) on how to use it.

When I run the command below I get an error

[code]

if I just try it in the directory

[code]

How can I build a bom from only a setup.py?

[2021-08-03 14:19] #69 closed

[2021-08-03 14:22] prabhu commented on #69
Thank you. This is fixed in 3.0.10

[2021-08-03 14:23] prabhu commented on #70
@37b The last argument is the directory which defaults to . if ignored. Could you kindly try the below command and report if there are any errors?

[code]

[2021-08-10 13:51] prabhu commented on #70
@37b any thoughts?

[2021-08-17 09:08] Swapnil-CSI opened #71 "BOM validation failed for GO bom"
I am receiving the below error while validating the GO bom XML/JSON files.

[code]

[code]
Please refer attached bom XML/JSON files.
[minio.zip](https://github.com/AppThreat/cdxgen/files/6998590/minio.zip)

[2021-08-17 12:54] prabhu commented on #71
@Swapnil-CSI Perhaps this is related to version 1.3 specification. This tool is yet to be upgraded to version 1.3

[2021-08-17 13:23] prabhu opened #72 "Add validation tests to workflow"
Now that we have had quite a few validation errors related issues such as #71, #69 it is essential to have validation tests in GitHub workflow.

[2021-08-20 16:28] navulirs opened #73 "Gradle SBOM Issue"
cdxgen doesn't seems to work for Gradle projects.

Tried all these for gradle projects:

cdxgen -t java -r --resolve-class
cdxgen -t java -r
cdxgen -t java

----
execution log:

Executing gradlew dependencies in /<path to the project>
null null
Unable to produce BOM for .

-----
Environment:

OS: MacOS
cdxgen version: 3.1.0 (also tried in 3.0.9 resulted the same)
java version: openjdk 11.0.12 2021

[2021-08-25 09:40] prabhu commented on #73
@navulirs Can you execute the below gradle command directly and let me know if it works correctly?

[code]

[2021-08-27 04:21] link89 opened #74 "suggested version fo cdxgen"
Hi, I find there are two version of cdxgen in the community, the other one is https://github.com/ShiftLeftSecurity/cdxgen
What is the relationship of these two project?  Which one is suggested to use? Thank you.

[2021-09-02 08:35] #74 closed

[2021-09-02 08:36] prabhu commented on #71
3.2.0 adds CycloneDX 1.3 support. Added validation tests to the workflow.

[2021-09-02 08:36] #71 closed

[2021-09-02 08:37] prabhu commented on #67
3.1.0 added support for go binary

[2021-09-02 08:37] #67 closed

[2021-09-02 08:37] prabhu commented on #73
@navulirs did you get a chance to try this?

[2021-09-02 08:37] prabhu commented on #49
3.2.0 adds support for 1.3

[2021-09-02 08:37] #49 closed

[2021-09-04 04:37] Masireddy65 commented on #73
Hello @Prabhu, I had same issue for Gradle project. Tried **gradlew deppendencies**

Can you please let me know, whats the best approach to generate BOM for similar Java/Gradle projects

[2021-09-04 11:40] prabhu commented on #73
@Masireddy65 Noticed a typo in `gradlew dependencies` There were 2 P.

This particular error sounds like related JVM version. Not sure if gradle 7 supports java 8.

Could you use the scan docker image if you aren't in a position to change the jvm version in your machine?

[code]

This would produce a bom as well as perform dependency scan.

[2021-09-04 11:59] Masireddy65 commented on #73
Thanks for quick response @prabhu .

I only found above command for windows cmd with github. However,I need to run a test on local directory of windows machine or may be on bitbucket pipeline. can you please help me tailer the command to my need here?

[2021-09-04 13:34] prabhu commented on #73
@Masireddy65 You can find bitbucket pipeline instruction here - https://slscan.io/en/latest/integrations/bitbucket/

[2021-09-04 17:06] Masireddy65 commented on #73
Thanks @prabhu. Now, I have both bitbucket pipeline instruction and windows cmd docker run. Trying both only does SAST SCAN, Secrets audit etc. No dependency scan even with -depscan argument and obviously no BOM file saved at /reports.
Also,In terms of bitbucket i tried Docker version and received error in final step to find the file.
Windows cmd  Attempts:
docker run --rm -v "%cd%:/app:cached" sh

[2021-09-05 09:06] prabhu commented on #73
@Masireddy65 Could you kindly email me prabhu @ appthreat dot com so that we could do a separate troubleshooting session for you? It may or may not be related to this particular ticket. You could also rerun by setting the environment variable

`SCAN_DEBUG_MODE=debug` to see if there are any additional information.

[2021-09-15 19:33] prabhu opened #76 "Better support for android with gradle projects"
cdxgen is struggling a bit for android + gradle projects without android sdk installed. Perhaps we could improve the error message to help users install the sdk correctly and set the associated environment variables.

[2021-09-16 07:55] guillomep opened #77 "ReferenceError: buildBomString is not defined"
Hello,

I have a problem with cdxgen starting with the version 3.1.0.
When trying to create a bom for scala using the command `cdxgen -t java -o bom.xml` it failed by giving the following message

[code]

That does not appear in version before 3.1.0.

[2021-09-16 17:40] #77 closed

[2021-09-16 17:41] prabhu commented on #77
@guillomep Apologies not sure how this got missed out. I recently removed tests related to scala since they were failing constantly. Version 3.2.4 fixes this. Let me know how it looks for you.

[2021-09-16 22:20] prabhu opened #79 "Validation failure with license lookup"
I noticed that the xml and json produced after enabling license lookup occasionally are failing cyclonedx validation.

xml is failing due to the ordering. Then there are failures due to non-availability of either id or name for the given license. This is going to take some time to fix.

[2021-09-17 12:49] prabhu opened #80 "Add pdm.lock support"
https://github.com/pdm-project/pdm/blob/main/pdm.lock

[2021-09-17 14:14] guillomep commented on #77
All good thanks !

[2021-10-07 23:53] ruckc opened #83 "Warning: "version" is a reserved word."
Every time i use cdxgen it spits out this warning:

[code]

[2021-10-12 20:11] prabhu commented on #73
@ruckc elasticsearch repo appears to be requiring java 16. With java 16, gradlew dependencies is not returning the full tree for me so not sure how to make this work

[code]

Any ideas?

[2021-10-12 20:45] #83 closed, assigned to nobody

[2021-10-13 13:24] prabhu opened #84 "Retain the dependency tree"
This is going to take some time.

It will be nice to retain the entire dependency tree in the bom json and xml for supported package managers. Currently, this is only available for java+maven.

[2021-10-18 21:16] prabhu opened #85 "Support for csharp projects.asset.json"
projects.asset.json is created by dotnet restore

https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-build?tabs=netcore2x#implicit-restore

[2021-10-19 19:36] #85 closed, assigned to nobody

[2021-10-20 09:07] prabhu opened #86 "Implement release pipeline"
It's unbelievable that this tool is released from my personal laptop still. Have to check npm docs to see if there is a way to remove the need for 2FA.

[2021-11-01 18:47] lreading opened #90 "Gradle Binary Path and Gradle Dependency Task Env Variables"
At my organization, we have a multi-project gradle project.  Unfortunately, the multi-project mode that's built into cdxgen is not working, as it's unable to find the dependencies for each project.  I've added a custom task to the gradle build to be able to list all dependencies at the parent level.  (eg: `gradlew myCustomTask` ) We also have the gradlew binary in a custom location specific to our

[2021-11-16 11:27] mvanini opened #91 "War analysis require pom.xml?"
Is pom.xml inside artifact required when I analyze a war/ear?
I have some artifacts built with Apache Ant (so without a pom inside) and cdxgen fail to analyze them:

[code]

[2021-11-19 14:09] sgleske-ias opened #92 "What's the minimum version of NodeJS supported?"
Installing on older NodeJS such as

[code]

renders the following error.

[code]

I realize the version of Node is old and the desirable path is to upgrade.  I need to report the security issues in an older project (old version of node being one of them).

I read through the docs and couldn't find information on cdxgen support as far as its own dependencies are concerned for minimum versions of No

[2021-11-19 14:14] sgleske-ias commented on #92
I figured it out.  The node engine requirement is listed in package.json.

Highest version supporting Node v8 is cdxgen 2.2.22.  After that the minimum is Node v12.

https://github.com/AppThreat/cdxgen/blob/v2.2.22/package.json#L44-L46

[2021-11-19 14:14] #92 closed

[2021-11-22 16:20] navulirs commented on #73
Hi, Sorry for delayed response. It is working now. it has to do with the gradle version. Thanks

[2021-11-22 16:40] navulirs opened #93 "Cdxgen hangs without any debug message"
Command:
 SCAN_DEBUG_MODE=debug ./cdxgen-linux -t python /{my python project}

 also tried:
  SCAN_DEBUG_MODE=debug ./cdxgen-linux   /{my python project}

do not see any debug message and the process stuck there for hours.

[2021-11-23 14:02] #73 closed

[2021-12-02 13:40] vtky opened #95 "Recurse mode failing"
I have the following directory structure:

[code]

`cdxgen` will correctly parse results from aphp/sub1 and aphp/sub2 `composer.json`, stops and return the output. It doesn't recurse into the other directories.

[2021-12-16 15:09] spirovskib opened #96 "cdxgen hangs on sbt dependencyList"
I'm running `cdxgen -t java -o bom.xml` in a local Scala repo.

The program starts but then gets stuck on
`Executing sbt dependencyList in /repos/repo using plugins /var/folders/0q/pk4zgnm14f51k4scf_q_v76h0000gn/T/cdxsbtg-9UA3Pi`

A bom.xml is never generated.
I'm running on MacOS 12.1, using sbt 1.5.7

The java version is
[code]

[2021-12-22 13:27] rucciva commented on #76
Hi @prabhu , would you mind giving a hint on how to make sure cdxgen can find the sdk?

I have created docker images (Dockerfile attached) that contains android sdk, gradle, and nodejs but cdxgen would only output `null null`.

Meanwhile if i manually add cyclonedx-gradle to the build.gradle based on [this](https://plugins.gradle.org/plugin/org.cyclonedx.bom) and run `gradle cyclonedxBom`, the sbo

[2022-01-04 12:02] dmuse89 opened #99 "No error returned when failed to push to Dependency Track"
I am currently implementing this tool into our pipelines (kudos, btw, on creating a great all-in-one CycloneDX SBOM Generator) and the pipeline is still still passing, although an error is shown in the cdxgen tool and fails to upload to Dependency Track v4.3.6 (see attached image).

In the event of an error, the application should return an error value to the OS.

![image](https://user-images.gith

[2022-01-11 11:54] prabhu commented on #76
@rucciva Could you run cdxgen with the environment variable `SCAN_DEBUG_MODE` set to `debug` as well as by passing -t java? I have feeling it is detecting a different language and null, null could be coming from lines such as this https://github.com/AppThreat/cdxgen/blob/master/index.js#L1536

[2022-01-11 16:42] prabhu commented on #99
@dmuse89 Could you check the value set for `DT_SERVER_URL`. The code is appending the argument with `/api/v1/bom` here

https://github.com/AppThreat/cdxgen/blob/master/index.js#L2068

[2022-01-11 16:43] prabhu commented on #96
@spirovskib sbt is known to be quite slow. Could you perform `sbt clean stage` before running cdxgen and see if it speeds up?

[2022-01-11 17:33] prabhu commented on #95
@vtky This is a known limitation. Will let you know as soon as the multi-language recurse option is released.

[2022-01-11 17:51] prabhu commented on #93
@navulirs No idea. Are there any memory constraints? Could you given an idea from where you are running this command. Also you could try using the npm version?

[code]

[2022-01-11 17:52] prabhu commented on #90
@lreading Happy to discuss further about this. Could we have a zoom session some time? Could you email me prabhu @ appthreat .com

[2022-01-11 17:54] prabhu commented on #91
@mvanini The logic is here - https://github.com/AppThreat/cdxgen/blob/master/utils.js#L2261

I'm looking at MANIFEST.MF recursively. Would you be able to share a sample war file with me directly so that I can think about a different mode?

Email: prabhu @ appthreat .com

[2022-01-12 11:46] prabhu opened #100 "Support for terraform modules"
Request from a client. Also, 2022 could be the year that gets the first public CVE for terraform providers and modules.

[2022-01-13 09:48] rucciva commented on #76
here is my full terminal output

[code]

[2022-01-14 16:59] prabhu commented on #76
@rucciva What is the output for

[code]

[2022-01-17 02:52] rucciva commented on #76
[code]

sorry i'm not quite familiar with android development but there is `gradlew` script inside the project root and if i run it
[code]

[2022-01-17 14:16] dmuse89 commented on #99
Hey @prabhu, indeed that appeared to be the issue in this case.  Nevertheless, in the event that cdxgen fails, then it should return an error code to the calling application.

[2022-01-17 16:55] prabhu commented on #99
@dmuse89 I agree. Will keep this ticket open and add some error checks.

[2022-01-18 13:59] wurstbrot opened #101 "package-lock.json Developer Dependencies in SBOM"
As a project team I am interested in vulnerabilities in production. Therefor I generate the SBOM with cdxgen and upload it to a tool like dependency track.
As a project team I am not interested in development dependencies.
Currently, they are getting detected (example from [juice shop](https://github.com/juice-shop/juice-shop)). Steps:
* clone
* npm i --package-lock-only
* cdxgen

As a project tea

[2022-01-18 16:22] prabhu commented on #101
@wurstbrot cdxgen would automatically perform package usage analysis and set the attribute `scope` to `required` only for the right packages. The `optional` packages can be used for tracking development dependencies for license and compliance purposes.

[2022-01-18 16:28] prabhu commented on #76
@rucciva Thank you for sharing the output. Could you set the environment variable `GRADLE_MULTI_PROJECT_MODE` to `true` and try cdxgen?

[code]

[2022-01-18 16:43] wurstbrot commented on #101
thank you! A filter option would still be nice for other tools.

As a field is there (thank you for that), I can remove the field by myself:
[code]

[2022-01-19 08:13] wurstbrot commented on #101
In case you don't want to implement a filter, you can close this ticket.

[2022-01-19 08:14] rucciva commented on #76
still the same

[code]

[2022-01-19 10:38] wurstbrot opened #102 "NPM: dev dependencies without scope"
By executing `cdxgen` within a project, dev dependencies are marked with `scope: optional`.
By executing `cdxgen` within a directory with package.json and package-lock.json only, dev dependencies are not marked with `scope: optional`.
Reproduce:
* clone https://github.com/juice-shop/juice-shop
* cd juice-shop
* npm install
* mkdir /tmp/x && cp package* /tmp/x
* cd /tmp/x
* cdxgen

[2022-01-19 10:46] JorisVanEijden opened #103 "PHP composer faster lockfile generation"
When there is a composer,json and no composer.lock and options.installDeps is true then a `composer install` is performed.

Consider changing this to a `composer update --no-install --ignore--platform-reqs`
this also creates the composer.lock file but does not download and install all the actual packages. Thus it is much faster and less error-prone.

[2022-01-19 17:31] prabhu commented on #103
@JorisVanEijden Super cool tip! Could you kindly send me a PR?

[2022-01-19 17:35] prabhu commented on #102
@wurstbrot This is correct behaviour. cdxgen performs proper package usage analysis by using babel parser on the source code. With node.js a code can import any package as long as it exists in node_modules directory. For example:

- Indirect dependencies that are not specified in package.json but present in package-lock.json
- Dev dependencies

[2022-01-19 17:37] prabhu commented on #76
@rucciva Could you check if the latest version of cdxgen is used? If not we need a zoom session to troubleshoot this.

[2022-01-19 17:38] prabhu commented on #101
@wurstbrot It's a good feature. Will keep this ticket open.

[2022-01-20 16:48] #103 closed

[2022-01-20 16:58] prabhu commented on #103
3.2.13 released with this PR. Thank you!

[2022-01-21 21:00] #95 closed

[2022-01-21 21:05] prabhu commented on #95
3.2.15 released with this feature

[2022-01-31 17:40] dmuse89 opened #110 "Number of dependencies differ significantly when using `cdxgen --type npm` and official cyclonedx-node-module"
Hey, I was wondering if you could help me determine why there is such a large difference in the output of these two tools.  I really love this tool for its ease of use, however, I am not convinced about the accuracy of its results.

When using the official [cyclonedx-node-module](https://github.com/CycloneDX/cyclonedx-node-module) for one project, I had 281 listed dependencies, whereas, using cdxg

[2022-02-01 18:56] prabhu commented on #110
@dmuse89 cdxgen uses the lock file as the first source of truth to report all package versions. It then performs a package usage analysis to determine the exact packages that are being used to set an attribute called `scope` to `required`. Currently, only [dep-scan](https://github.com/AppThreat/dep-scan) utilizes this attribute to filter the results.

From experience, node_modules indeed would con

[2022-02-02 09:53] dmuse89 commented on #110
Thanks @prabhu for the explanation and your quick reply!

Maybe including this information in the tool description/documentation might make some sense.  I can imagine others might have similar concerns.

[2022-02-02 09:53] #110 closed

[2022-02-03 09:04] prabhu commented on #110
@dmuse89 I tried explaining here.

https://github.com/AppThreat/cdxgen#automatic-usage-detection

With SBoM in general one has to take a position since what needs to be included in the bill of materials depends on the target audience. Perhaps cdxgen could support a profile that could target various personas such as developers, appsec, suppliers, compliance and so on?

[2022-02-03 11:20] mikejarrett opened #111 "Unable to recursively parse multiple poetry.lock files"
Given the following directory and file structure below, when I run `cdxgen -r` I receive the below output:

[code]

[code]

If a translate the poetry.lock files to requirement.txt files it is able to parse and aggreate findings just fine, like an example below

[code]

However, if I do `cdxgen -r python1/ python2/` it works as expected. 🤔

[2022-02-03 18:06] mikejarrett commented on #111
@prabhu . Yeah the library I'm working with is a little wonky. I'll see if I can get an PR tomorrow or over the weekend. Didn't have much time to investigate the code too deeply.

Thanks for you all your hard work, by the way.

[2022-02-04 15:33] #111 closed

[2022-02-09 13:56] #70 closed

[2022-02-09 14:02] prabhu commented on #70
@37b is this working now?

[2022-03-24 08:02] UgniusV opened #120 "Yarn parser collects BOM with wrong versions"
I have noticed that when collecting BOM components from yarn.lock files - the versions are off. Here are the steps to reproduce this bug:
1. Clone https://github.com/treosh/lighthouse-ci-action
2. cd & collect bom `cdxgen --type javascript -o bom.json` - BOM is collected from.yarn lock
3. remove yarn.lock & collect BOM from `node_modules`. `rm yarn.lock && cdxgen --type javascript -o bom-modules.j

[2022-03-24 11:37] prabhu commented on #120
@UgniusV Sounds like a bug. Could you help me review this method to see what is going on?

https://github.com/AppThreat/cdxgen/blob/master/utils.js#L309

`-p` argument could be used to pretty print a table which might help troubleshoot.

[2022-03-24 12:05] UgniusV commented on #120
Sure thing, I will take a look

[2022-03-24 13:03] UgniusV commented on #120
When viewing the generated BOM - all dependencies are correct up until `lighthouse-logger`. After debugging I have noticed that the following yarn.lock section breaks the parser:

[code]

And this is the generated corresponding BOM snippet

[code]

This means that `lighthouse-logger` entries break the parser and every subsequent component takes a version number from previous dependencies. My JS is

[2022-03-24 13:40] prabhu commented on #120
Thank you for the detailed investigation!

I have a feeling having two package names is breaking the logic.

`lighthouse-logger@^1.0.0, lighthouse-logger@^1.3.0:`

https://github.com/AppThreat/cdxgen/blob/master/utils.js#L327

[2022-03-24 15:33] prabhu commented on #120
@UgniusV Will take a look today or tomorrow since this is quite important.

[2022-03-24 18:41] #120 closed

[2022-03-24 18:50] prabhu commented on #120
Fixed in 4.0.7. It was a schoolboy error where the word "version" matched the package name called "latest-version". Thank you for reporting!

[2022-03-24 19:04] UgniusV commented on #120
Ahh, funny bug. I'm glad it's fixed, thanks again!

[2022-03-29 13:44] ThiefaineM opened #123 "No error returned when the gradle build failed"
**Describing the bug**
When I try to generate a SBOM on a directory with only a gradle build, if the build fail cdxgen does not returned a non-zero exit code.
Is it intentionnal ?

**Reproducing the situation**
I used this command:
[code]
And here are the logs :
[code]
I know why the build fail, but here cdxgen does not fail.
I cannot use cdxgen -t java as I use cdxgen in pipeline.

[2022-03-30 07:22] ThiefaineM commented on #123
When SCAN_DEBUG_MODE=debug is set, I got :
[code]
So the build fail and I have one more instruction to help. But at the end cdxgen still returned a 0 component BOM.

[2022-03-30 10:41] prabhu commented on #123
@ThiefaineM This is the existing behaviour and is unlikely to change due to the bundling where generating 0 bom is generally not considered an error by upstream tools.

[2022-03-30 10:45] ThiefaineM commented on #123
Ok thank you for your answer !

[2022-03-30 10:45] #123 closed

[2022-04-04 14:07] ChristianCiach opened #124 "Gradle: Allow selection of gradle configuration"
`cdxgen` currently calls `gradle dependencies` to retrieve the list of dependencies.

Unfortunately, this list contains the dependencies of all gradle configurations, including the `test*` configurations.

We want the SBOM to include only the runtimeClasspath dependencies. Which means that gradle should be called like this:

[code]

In other words: Please add an option (env variable or command lin

[2022-04-04 14:47] prabhu commented on #124
@ChristianCiach Could you send a PR based on this?

For maven, there is a MVN_ARGS that is constructed from the environment variable here - https://github.com/AppThreat/cdxgen/blob/master/index.js#L547-L557

For gradle, retrieve the argument from the environment variable `GRADLE_ARGS`. There are two places that need updating.

https://github.com/AppThreat/cdxgen/blob/master/index.js#L726
https://g

[2022-04-06 14:25] #124 closed, assigned to nobody

[2022-04-06 14:31] prabhu commented on #124
Supported in 4.0.8

[2022-04-07 09:28] ThiefaineM opened #125 "Add Depencies in the BOM"
Hello,
I was wondering if you were planning to add the dependencies between the components in the BOM as described here: https://cyclonedx.org/docs/1.4/json/#dependencies
It could be very interesting because cdxgen already allows the integration into Dependency Track and the dependencies graph is one of the functionnality.
Thanks in advance !

[2022-04-07 11:49] prabhu commented on #125
@ThiefaineM This is going to take some effort to implement. Are you looking for any specific language to start with?

[2022-04-07 14:13] ThiefaineM commented on #125
Yes, I guess it's not a small change.
I think Java with maven/gradle could be a great start !

[2022-04-07 16:15] prabhu commented on #125
Java with maven must already have that since we invoke the cyclonedx maven plugin directly.

[2022-04-08 07:00] ThiefaineM commented on #125
Oh ok thanks. When I am using cdxgen to generate on maven/gradle project and then included it into Dependency Track I do not have a dependency graph. But it might either come from the pom.xml or the cyclonedx maven plugin.

Then JavaScript or Python could be interesting !

[2022-04-11 12:20] UgniusV opened #126 "cdxgen crashes when collecting rust SBOMs"
Hey 👋  cdxgen crashes when collecting rust SBOMs. Below are the steps to reproduce this crash:

1. Clone `https://github.com/mozilla/rust-code-analysis.git`
2. `cd rust-code-analysis`
3. `cdxgen --type rust`

PoC
[code]
Tested on Debian buster x86_64 but I'm pretty sure this crash can be reproduced on any machine, Cheers

[2022-04-11 20:45] #126 closed

[2022-04-11 20:46] prabhu commented on #126
4.0.9 was released with the fix. Thank you for reporting. It turned out to be a `version = 3` string at the top of the lock file.

[2022-04-12 10:11] UgniusV opened #127 "Possibly incorrect purl for ruby SBOM components"
I have noticed that when generating SBOMs for ruby projects, the libraries have `rubygems` instead of `gem` as a package manager name inside their purls. E.g.

[code]

Shouldn't it be `pkg:gem/unicode-display_width@2.1.0` instead of `pkg:rubygems/unicode-display_width@2.1.0`? Other SBOM collection tools such as `syft` or `trivy` also use `gem` instead of `rubygems` as the package manager name in P

[2022-04-12 12:26] #127 closed

[2022-04-12 12:29] prabhu commented on #127
Thank you for reporting this. This is fixed in 4.0.10. Have also fixed dep-scan and vulnerability-db to use gem in the purl correctly as per other tools.

[2022-04-19 08:33] UgniusV opened #128 "Manual pom.xml parsing crashes cdxgen"
Steps to reproduce:

1. Clone `https://github.com/ververica/flink-cdc-connectors.git`
2. Cd to `flink-cdc-connectors/flink-sql-connector-mysql-cdc`
3. Run `cdxgen --type java`. CDXGen will fallback to manual pom.xml parsing and then crash

PoC

[code]

[2022-04-19 16:11] #128 closed

[2022-04-19 16:13] prabhu commented on #128
Fixed in 4.0.11. Thank you for reporting!

[2022-05-04 13:45] diblaze opened #129 "BOMs from Docker image missing packages"
Using `cdxgen` on a Docker image will generate BOM, but not correct one. Many of the packages installed in our `python` project is missing, compared to running `cdxgen` on the project directly.

Our Docker image has a `workdir` of `\app`, could this be an issue? Does `cdxgen` want a specific `workdir` to work correctly?

[2022-05-04 13:53] prabhu commented on #129
@diblaze Could you set the environment variable `SCAN_DEBUG_MODE=debug` to see what is going on? Also does `/app` contain requirements.txt or poetry.lock etc?

[2022-05-04 14:19] diblaze commented on #129
`/app` contains a `poetry.lock` file.

I ran `SCAN_DEBUG_MODE=debug cdxgen image.tar -o bom.json`  to get the following output.
[code]

[2022-05-04 14:39] mdio opened #130 "Feature request: Support yarn.lock format of Yarn 2/3"
I tried running `cdxgen -t javascript` on a project that uses Yarn 3 and got
[code]

The example project to reproduce could be [eslint-config-typescript-shareable](https://github.com/AxisCommunications/eslint-config-typescript-shareable) or any other project with the new header in yarn.lock.

Old version yarn.lock (v1):
[code]

New version yarn.lock (v2+):
[code]

I debugged a bit and found that `

[2022-05-04 15:37] prabhu commented on #129
@diblaze Correct. I can add some more debug statements to see what is going on. I will let you know once the new version is ready for testing.

[2022-05-04 21:02] #130 closed

[2022-05-04 21:03] prabhu commented on #130
Please test with 4.0.13

[2022-05-04 21:04] prabhu commented on #129
@diblaze could you share the debug logs with version 4.0.13?

[2022-05-05 11:58] prabhu commented on #130
cc @mdio

[2022-05-05 13:43] mdio commented on #130
I can confirm that an sbom.json and .xml is generated for our project using version 4.0.13.
Thank you for the quick fix!

[2022-05-05 19:50] diblaze commented on #129
New log below.

`dapp` is the workdir, but it seems like it can not find anything in there? The Docker image works and I can access shell into it and see the files there.

[code]

[2022-05-05 20:31] prabhu commented on #129
@diblaze Thank you for sharing. Could you share the output of `ls -l /dapp`. It is definitely scanning the directory but is unable to find any package which is weird. You can also email me directly prabhu @ appthreat .com if it might help.

[2022-05-10 07:42] diblaze commented on #129
@prabhu sorry for the late response, I was on holidays.

Here is the `ls -al` for `/dapp`
[code]

[2022-05-10 10:33] prabhu commented on #129
Thanks @diblaze . Is it possible that cdxgen is running as non-root so is unable to read the files in this directory which are owned by root?

[2022-05-10 11:18] diblaze commented on #129
The user in Docker image is set as root, and `cdxgen` is also running in `root`.

We are using a Docker image with `cdxgen` installed to do our BOM generation. When I use `cdxgen` locally and run it against the docker image, I get the same issue. Regardless of `sudo`/`root`.

Any more tips on what I can try next?

[2022-05-10 11:25] prabhu commented on #129
@diblaze Could you run the tree command and share the entire structure of dapp via email?

[2022-05-10 12:11] diblaze commented on #129
Sadly I can not share the complete tree structure. However, `poetry.lock` is directly under `dapp`. So it should find it.
Also I checked our docker image, `cdxgen` is run by `root` user.

[code]

For now the workaround is to run `cdxgen` on the project before creating the image.

[2022-05-10 13:48] prabhu commented on #129
@diblaze I'm suspecting that there are requirements.txt or some other files that are getting picked up with a recursive search. Perhaps you can use the find command to check my theory. I will push out an enhancement later to address this.

[2022-05-11 08:08] diblaze commented on #129
@prabhu yes, there are multiple `requirements.py` in the hidden `.venv` folder. But these are not `*.txt`.
Maybe the search picks up anything with `requirements`?

[code]

[2022-05-11 09:17] prabhu commented on #129
@diblaze This helps. Yes, the site-packages inside .venv would be matching a range of patterns. Thank you. I will let you know once a new update is ready for testing.

[2022-05-12 15:04] #129 closed

[2022-05-13 11:20] diblaze commented on #129
@prabhu Sadly the fix did not help with our Docker images not being scanned correctly :(
Here is an example using the image saved from Docker using `docker save`.
[code]

[2022-05-13 11:45] prabhu commented on #129
@diblaze This formatted layout helped. Notice how `/dapp` is invalid with a duplicated prefix. This is now resolved in 4.0.18. Could you retry?

[2022-05-13 12:05] diblaze commented on #129
@prabhu Now it works!
I did not see that my previous log-snippet was badly formatted. Sorry!

[2022-05-13 12:56] prabhu commented on #129
Not a problem. Glad it worked!

[2022-05-18 13:15] prabhu commented on #101
@wurstbrot With 4.0.19 there is a flag `--required-only` to only include packages with scope: required in the SBoM. Please feel free to use this feature if you find it helpful.

[2022-05-18 13:37] #101 closed

[2022-05-19 21:08] prabhu commented on #90
@lreading The wait is over. 4.0.20 adds support for environment variables that might help you.

[code]

[2022-06-14 17:36] kakumanivrn opened #133 "Not able to generate bom for Node.js project"
Whenever I try to run `cdxgen` for Node.js projects the output it empty IF the `node_modules` folder is not yet created.

Sample output:

[code]
But once I run `npm install` and created the `node_modules` directory the output is as expected. Is there anything that can be done to implicitly execute this?

[2022-06-15 01:53] kakumanivrn commented on #133
Hi @prabhu , the commands I used:

`cdxgen -r -t node.js`
`cdxgen -r -t node`
`cdxgen -r -t npm`

My source code did not have `package-lock.json` rather it has `npm-shrinkwrap.json` [file](https://docs.npmjs.com/cli/v8/configuring-npm/npm-shrinkwrap-json). Would it be possible to consider this file along with package-lock.json and yarn.lock?

Thank you!

[2022-06-15 13:01] prabhu commented on #133
@kakumanivrn Could you test 4.0.23, which adds npm shrinkwrap support?

[2022-06-15 14:24] #133 closed

[2022-06-15 14:53] prabhu commented on #133
@kakumanivrn Please share your love on social media so that more users could discover and use the tools!

[2022-06-15 16:11] kakumanivrn commented on #133
@prabhu Definitely!

[2022-06-16 18:14] kakumanivrn opened #135 "Support for transitive/indirect dependencies"
Hi @prabhu,

Would it be possible to share the list of languages that currently `cdxgen` supports to generate SBOM including transitive/indirect dependencies. This would be super helpful for everyone if this is mentioned in README along with the language support list.

Recently I shared on https://github.com/AppThreat/dep-scan/issues/57#issuecomment-1155945840 to generate dependency tree for cloju

[2022-06-17 02:50] kakumanivrn commented on #135
Similar to this table in trivy documentation:
https://aquasecurity.github.io/trivy/v0.29.0/docs/vulnerability/detection/language/

[2022-06-17 09:57] #135 closed

[2022-06-17 14:12] kakumanivrn opened #136 "Could not determine java version from '11.0.15'"
Environment details:

[code]

While trying to generate SBOM for a Java project the following error occurred:
[code]

[2022-06-17 14:15] kakumanivrn commented on #136
Command executed by cdxgen:

[code]

[2022-06-17 14:17] kakumanivrn commented on #136
Looks like the issue is with gradle version:
[Gradle: Could not determine java version from '11.0.2'](https://stackoverflow.com/questions/54358107/gradle-could-not-determine-java-version-from-11-0-2)

[2022-06-17 14:35] #136 closed, assigned to nobody

[2022-06-21 07:32] ThiefaineM opened #138 "Purl for RUST dependencies"
While using CDXGEN on a RUST project, I saw that the purl generated was **pkg:crates/addr2line@0.17.0** instead of **pkg:cargo/addr2line@0.17.0**.
You can see in the PURL documentation (https://github.com/package-url/purl-spec/blob/master/PURL-TYPES.rst) that the package manager is cargo. Also on OSSINDEX the purl with crates is not known compared to the one with cargo.
Can you change it or it's f

[2022-06-21 11:54] prabhu commented on #138
Fixed with 4.0.24

[2022-06-21 13:11] #138 closed

[2022-06-22 07:47] UgniusV opened #139 "Rust collector can't produce SBOMs"
#### Steps to reproduce:

[code]

[2022-06-23 10:22] prabhu commented on #139
@UgniusV if you use `-r` for recursive it works fine. The project is organized into workspaces with multiple sub-directories.

[2022-06-23 11:01] #139 closed

[2022-06-23 15:40] stevieg27 opened #140 "License and vulnerability analysis not done Dependency Track"
Hi,

When I try to upload bom json or xml output to Dependency Track as given below. Eventhough the components are listed but the license and vulnerability analysis is not performed by Dependency Track.

`cdxgen -r -o bom.json  --server-url $DT_URL --api-key  $DT_KEY`

But the same json output license and vulnerability analysis are performed correctly If I upload it to the DT UI or via DT REST API

[2022-06-23 16:02] prabhu commented on #140
Looking at their api docs, it appears like for XML uploads they are expecting the form name to be bom and value to be the XML. cdxgen appears to have a slightly different structure here - https://github.com/AppThreat/cdxgen/blob/master/index.js#L2701 . Could you replace this line as shown below and see if it works?

[code]

[2022-06-23 17:43] UgniusV commented on #139
Thanks ❤️

[2022-06-23 17:45] prabhu opened #141 "ANNOUNCE: Making the recursive mode the default"
cdxgen supports -r for recursive lookup. We successfully made this flag the default for some enterprises and found no noticeable drop in performance. Can we make this flag the default for the oss version?
Some projects might be affected with the resultant SBoM that might become overreported. Those projects could pass `--no-recursive` or `-nr` to disable recursive lookup. Any other issues?

[2022-06-23 21:03] prabhu commented on #140
@stevieg27 Please test with 4.0.27 . I spun up a local instance and managed to test and fix the integration.

[2022-06-23 21:10] prabhu opened #143 "Duplicate bom components in recurse mode without specifying type"
Noticed that when running in recurse mode without type the resulting bom could have duplicates since the same dependency could be detected across several modules or apps. Most consumers of the SBoM such as dependency track are handling this by showing the duplicates which are fine.

[2022-06-24 10:30] stevieg27 commented on #140
Hi Prabhu,

Thanks for the updated version. I could now see that the vulnerability analysis is being corrected but the license column is still empty for all the components listed in DT.

[2022-06-24 10:43] prabhu commented on #140
@stevieg27 set the environment variable FETCH_LICENSE=true to enable license lookup.

[2022-06-24 18:59] prabhu commented on #140
@stevieg27 Interesting. Could you use ```FETCH_LICENSE=true cdxgen -r -o bom.xml``` and check if the XML contains the license information at all?

[2022-06-25 03:57] kakumanivrn commented on #141
What if there are multiple languages used inside the directories. For example few repositories can contain 2 different languages and package managers. Like node and python.

So does recursive mode consider the multiple package managers as well?

[2022-06-25 04:26] kakumanivrn opened #144 "Converting environment variables into config file"
Just thinking that depending on environment variable for configuration can be bit hard due to continuous change of servers. Everywhere I need to setup `cdxgen` I need to set environment variables again. Wouldn't it be easy to maintain `config.json` file with default values and we can modify it anytime?

We can provide the path to config file over the cli arguments. Thus making it independent of th

[2022-06-25 07:24] alexkhudyshkin commented on #141
There is an issue if you run cdxgen without the `-t` parameter, in Java projects the 'dependencies' array is missing when running in recursive mode. Compare these two:
[cdxgen -r -o bom_59.json.txt](https://github.com/AppThreat/cdxgen/files/8984107/cdxgen.-r.-o.bom_59.json.txt)
[cdxgen -o bom_49.json.txt](https://github.com/AppThreat/cdxgen/files/8984108/cdxgen.-o.bom_49.json.txt)

[2022-06-25 14:08] alexkhudyshkin commented on #144
Totally agree with this enhancement. It would also be great if we could change repository urls in config, like `const NPM_URL` and `const MAVEN_CENTRAL_URL`. Some companies use proxy repositories for that and restrict direct access to original repository url.

[2022-06-25 15:08] alexkhudyshkin commented on #141
Also, if you scan a nodejs project with node_modules, recursive mode goes into this folder and analyze lots of bower.json files which: 1. are duplicates 2. does not contain version information. This example is from juice-shop vulnerable application:
[cdxgen -r -t js -o bom3.json.txt](https://github.com/AppThreat/cdxgen/files/8984981/cdxgen.-r.-t.js.-o.bom3.json.txt)
[cdxgen -t js -o bom5.json.txt]

[2022-06-25 16:07] kakumanivrn commented on #141
I haven't yet tested it but I think there should a way to filter out all the duplicates before actually generating the BOM file. Duplicate can be defined as same library & same version.

[2022-06-25 16:30] alexkhudyshkin commented on #141
The problem is that PURL is different so I doubt that it's possible to indicate duplicates.

[2022-06-25 17:48] kakumanivrn commented on #144
@alexkhudyshkin added this feature myself in https://github.com/AppThreat/cdxgen/pull/145

Give it a try and let me know if it works.

[2022-06-25 17:50] kakumanivrn commented on #144
`-e` options takes input of the file path and the following method sets the env variables.

[code]

[2022-06-28 01:34] kakumanivrn commented on #141
@prabhu what about other languages? Do we get duplicates there as well? Can we do anything to remove duplicates?

[2022-06-28 19:27] prabhu commented on #141
@kakumanivrn What I'm referring to as duplicates are entries with the same names but differing version numbers. There shouldn't be duplicates where both the name and version numbers are the same.

[2022-06-28 19:28] prabhu commented on #144
@alexkhudyshkin What you are asking for is a different feature. Most users use the maven or gradle configuration file for private registries. ShiftLeft only tries to reach the public registries for license detection.

[2022-07-13 19:07] kakumanivrn opened #146 "Support for transitive dependencies for Python and ruby"
It would be great to have support for Python and ruby transitive dependencies by running `pip install` command and something similar for ruby as well. Most of the default projects won't have `Pipfile.lock` unless build is done. So if we want to scan any repository security engineers have to do the build for `cdxgen` to make it work. This can be done similarly how cdxgen is doing for Clojure.

[2022-07-14 13:34] prabhu commented on #146
@kakumanivrn I thought about this. But doing pip install is non-deterministic and what gets installed depends on the version of python and pip used at the point of installing. Best to guide your devs to do pip freeze or use pip-tools to manage dependencies correctly. Or even better is to migrate to poetry.

[2022-07-15 14:43] prabhu commented on #140
@stevieg27 Sorry it is taking time due to work. I am suspecting the bom XML with license information is failing validation. Could you validate the generated XML and let me know if this is the case?

[code]

[2022-07-26 11:10] alexkhudyshkin opened #147 "--required-only does not work in maven projects"
The option --required-only introduced in 4.0.19 does not work in Java (tested on maven) projects. Packages with optional scope remain in SBOM file.

To reproduce:
[code]
Then compare files.

[2022-08-01 11:37] bobflannigon opened #148 "ERR_OUT_OF_RANGE setting environment variable CDXGEN_TIMEOUT_MS"
The timeout value (CDXGEN_TIMEOUT_MS) cannot be set under any circumstances.
To reproduce:

1. Via command line (Windows) run: set CDXGEN_TIMEOUT_MS=12345
2. Run Cyclone e.g: cdxgen -t java -o bom.xml >output.txt
3. Observe the following error:
Executing 'mvn org.cyclonedx:cyclonedx-maven-plugin:2.5.3:makeAggregateBom -q' in C:/_workspace/path
node:internal/errors:477
    ErrorCaptureStackTrace(er

[2022-08-03 17:55] digital-atom opened #150 "Scala sbt 1.6.2 + dependency tree plugin error: Expected '--force'; dependencyList::toFile ... --append"
Hello.
Thanks for this project, it's very useful.

I have a problem using it with Scala project and sbt 1.6.2.
Here is output:

[code]

I do not want to use lockfile. Any suggestions to make it work with dependencyList?

[2022-08-05 16:48] prabhu commented on #150
@digital-atom Thank you for the report. This needs some testing. Could you try adding `--force` to the below locations and see if it works for you?

https://github.com/AppThreat/cdxgen/blob/master/index.js#L1028
https://github.com/AppThreat/cdxgen/blob/master/index.js#L1032

[2022-08-05 16:51] prabhu commented on #148
Thank you for raising the issue and for the PR!

[2022-08-25 19:05] kakumanivrn opened #151 "cdxgen generating high number of components compared to snyk"
Hi @prabhu I just observed that `cdxgen` is generating a very high number of dependencies compared to snyk. Especially for the repo: https://github.com/snyk-labs/nodejs-goof.

Snyk listed about 565 dependencies. And for the same project cdxgen listed about 969 dependencies. Just wanted to understand if this is by design.

[2022-08-25 19:24] prabhu commented on #151
@kakumanivrn This is correct. For nodejs, the lock file is used to generate the full list and then package usage analysis is performed to identify only the used packages in the source code. There is an argument called `--required-only` that could be used to generate an SBoM with only used packages if you prefer a smaller list.

[2022-08-25 19:31] kakumanivrn commented on #151
@prabhu when I tried using `--required-only` the count went down to just 35. This still is a drastic difference compared to snyk. But this time it's really low.

[2022-08-25 19:32] kakumanivrn commented on #151
You can access the snyk report here:
https://snyk.io/test/github/snyk/goof

[2022-08-31 13:45] prabhu commented on #151
@kakumanivrn This is by design. Snyk doesn't have this package detection, so it is just generating a basic list that is neither triaged nor comprehensive.

[2022-09-01 05:41] kakumanivrn commented on #84
@prabhu any update for other languages and package managers?

[2022-09-01 11:57] #148 closed

[2022-09-01 11:59] prabhu commented on #84
@kakumanivrn I am not actively working on any new features in this project. Trying to do bare minimum bug fixes atm.

[2022-09-09 07:33] giulio1979 commented on #140
I am also facing same issue, the bom file from cdxgen doesnt have any data in the license field

[2022-09-09 11:48] mwing opened #153 "utils.parseYamlData does not exist"
Hi,

I'm trying to run Cdxgen on a yarn project which has a dependency on style-dictionary (https://github.com/amzn/style-dictionary). Style-dictionary has a flutter pubspec.yaml file located under `./node_modules/style-dictionary/examples/advanced/flutter/pubspec.yaml`. If I run Cdxgen with the recursive mode the tool exits with:

[code]

Looking at the code, the call at https://github.com/AppThr

[2022-09-09 15:35] prabhu commented on #153
@mwing Thank you for reporting this.

https://github.com/AppThreat/cdxgen/blob/master/index.js#L1725

Here `utils.parsePubYamlData` must be used instead of `utils.parseYamlData`. Could you make this change and send a PR?

[2022-09-09 15:40] prabhu commented on #140
@giulio1979 I feel that if we make this line return `undefined` https://github.com/AppThreat/cdxgen/blob/ddc7771698453d8fb7ae4e082d1393d04d0f3f08/utils.js#L113 the SBoM would succeed validation. Could you try this and send a PR if it works?

[2022-09-10 20:26] giulio1979 commented on #140
as far as I see the cdxgen output has license information;

{
      "group": "",
      "name": "react-i18next",
      "version": "11.18.5",
      "description": "Internationalization for react done right. Using the i18next i18n ecosystem.",
      "scope": "required",
      "hashes": [
        {
          "alg": "SHA-512",
          "content": "70a732baecc8bf461467897d58e45f95536e84848f02a41284e02c

[2022-09-12 05:40] mwing commented on #153
Sure, see AppThreat/cdxgen#154

[2022-09-12 19:44] #153 closed

[2022-09-15 10:35] prabhu commented on #140
@giulio1979 do you have a sample project to reproduce this issue?

[2022-09-15 11:10] prabhu commented on #151
@kakumanivrn snyk appears to be ignoring packages with `dev: true`. For eg, I don't see `acorn` in the list https://snyk.io/test/github/snyk/goof?tab=dependencies

Since many real-world applications are misconfigured and inadvertently use dev packages in production deployment, I don't think ignoring dev packages altogether is a good idea. cdxgen does set the scope attribute to `optional` for these

[2022-09-15 11:10] prabhu commented on #150
@digital-atom any sample project available to test this?

[2022-09-15 16:11] kakumanivrn commented on #151
@prabhu In that case would it be possible to add this as option in cdxgen?

[2022-09-15 16:22] prabhu commented on #151
@kakumanivrn `--required-only` is that option. I think it might be doing a fantastic job so you're worried about the low count since the goof project doesn't really have much code in it.

[2022-09-15 16:30] kakumanivrn commented on #151
Great! In that case I'll close this issue.

[2022-09-15 16:30] #151 closed

[2022-09-16 12:51] #146 closed

[2022-09-16 12:52] kakumanivrn commented on #144
Since there is active discussion going on this thread, closing it for now.

[2022-09-16 12:52] #144 closed

[2022-09-16 12:59] toocoolforschools commented on #140
@prabhu +1 for me as well. I can find license info in bom.json file but not in bom.xml. Also I observed that you are sending XML content to DT but the content type set to `application/json`

https://github.com/AppThreat/cdxgen/blob/c1c980770d1ebeb1b87261517e7f1e885ada8d9a/bin/cdxgen#L155

https://github.com/AppThreat/cdxgen/blob/c1c980770d1ebeb1b87261517e7f1e885ada8d9a/index.js#L2777

[2022-09-16 15:26] prabhu commented on #140
@toocoolforschools I am unable to reproduce the issue. For me both the XML and json format include license information when the env variable `FETCH_LICENSE` is set to true. Could you help me reproduce this issue with a sample project?

[2022-09-16 15:36] toocoolforschools commented on #140
@prabhu Create a directory with just `requirements.txt` with this below dependencies:

[code]

For the same file, JSON out is:

[code]

And the XML output is:

[code]

[2022-09-16 15:46] prabhu commented on #140
@toocoolforschools Superb. Could you also share the full cdxgen command used?

[2022-09-16 15:58] toocoolforschools commented on #140
@prabhu This is the command:

`FETCH_LICENSE=true cdxgen -r . -o bom.json`

[2022-09-16 16:01] toocoolforschools commented on #140
@prabhu you are right using `-t python` worked. So it's a bug. Also while running this command I got node error:

[code]

[2022-09-16 18:03] #140 closed

[2022-09-16 18:21] prabhu commented on #140
Thank you for reporting this issue and for your patience. This is now resolved with 4.0.33.

[2022-09-16 18:28] prabhu commented on #147
For maven projects, we first try invoking the official maven plugin here - https://github.com/AppThreat/cdxgen/blob/master/index.js#L594 to reuse the generated SBoM. Perhaps we should send a PR to the plugin to accept an argument or upgrade the generated SBoM to support filtering.

[2022-09-19 15:49] candrews opened #156 "cdxgen does not fail on error"
Currently, if `cdxgen` fails to extract dependencies, it continues on, resulting an output that is missing many dependencies.

A better approach would be to (at least optionally) fail on error.

For example, if you run `cdxgen` on a Gradle project but don't have gradle installed, this output results:
[code]

Ideally, the message should say an error occurred, and the exit code should not be 0.

[2022-09-19 15:57] candrews opened #157 "cdxgen doesn't look for gradlew in the same subdirectory as build.gradle"
`cdxgen`only looks for `gradlew` in the directory being scanned - it should also look in the directory where it finds `build.gradle`/`builld.gradle.kts`.

To reproduce this issue:
1. `mkdir test`
2. `cd test`
3. `git clone https://gitlab.com/candrews/gitlab-issue-example.git # do NOT cd gitlab-issue-example`
4. `npx @appthreat/cdxgen -p -r`

Actual output:
[code]

Expected output:
`cdxgen` should

[2022-09-19 16:00] candrews opened #158 "Support Maven Wrapper (mvnw)"
`cdxgen` support the Gradle Wrapper (`gradlew`) - it should also support the [Maven Wrapper (`mvnw`)](https://maven.apache.org/wrapper/), which is used the same way. Implementation would be the same as the existing `gradlew` support.

[2022-09-20 09:01] ThiefaineM commented on #156
Hello,
I had a similar issue and it was defined as an existing behaviour (issue #123 )

[2022-09-20 12:09] candrews commented on #156
Then a new argument/flag (perhaps `--fail-on-error`) or environment variable could be used so users can opt in?

[2022-09-20 15:09] prabhu commented on #158
@candrews, could you kindly send a PR since I don't have a test project for this?

[2022-09-20 17:17] prabhu commented on #157
@candrews Strangely, this worked fine for me since I had the latest Gradle installed. Would attempt some fix for this later today.

[2022-09-21 01:03] candrews opened #160 "Do not use jcenter"
JCenter shut down on March 31st 2021: https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/

This tool should not try to use it JCenter as it does not and will never work.

See usage at: https://github.com/AppThreat/cdxgen/blob/v4.0.34/utils.js#L986

[2022-09-21 09:28] #156 closed

[2022-09-21 09:43] #160 closed

[2022-09-21 10:53] #158 closed

[2022-09-21 11:05] #90 closed

[2022-09-21 19:31] candrews commented on #33
Does cdxgen work with v2? If it does, can the title of the issue be changed to "npm 7 v3 format support" to clarify the issue?

[2022-09-22 19:34] candrews opened #164 "Javascript --required-only doesn't include transitive dependencies"
When using the `--required-only` option, `cdxgen` uses `babel-parser` to find the imports in the source files as described at https://github.com/AppThreat/cdxgen#automatic-usage-detection

The problem is that it doesn't include the dependencies of the dependencies it finds... and it needs to do so as those transitive dependencies are required.

[2022-09-22 20:05] candrews commented on #164
Instead of reinventing yarn/node parsing... what if we use `snyk-nodejs-lockfile-parser` which already solves these problems and is very well tested?

Package: https://www.npmjs.com/package/snyk-nodejs-lockfile-parser
Source: https://github.com/snyk/nodejs-lockfile-parser

[2022-09-23 07:33] prabhu commented on #164
@candrews Every SBoM tool takes a view. I believe "No nuts or gluten" should be left out, especially for node.js. Tools like Snyk simply leave out dev dependencies, assuming those packages would never be deployed. In the real world, most applications are deployed using `npm install`, which installs dev dependencies. I have seen react and express applications where those packages were declared unde

[2022-09-23 14:26] candrews commented on #164
By only including direct dependencies (and excluding the dependencies of those dependencies aka transitive dependencies), an accurate SBOM is not produced 0 "nuts or gluten" are left out.

Let there be packages A, B, and C. A depends on B. The project against which `cdxgen` expresses dependencies on A and C. The source code of the project imports A; it does not directly import B or C.

Today, the

[2022-09-23 14:37] prabhu commented on #164
@candrews Do you have any examples of a CVE where the first level indirect dependency was exploited via the direct dependency? Implementing what you are asking requires the entire dependency tree to be retained, which is another large pending ticket. If there are some real-world examples of this, I'm happy to spend some time.

[2022-09-23 14:40] candrews commented on #164
For Javascript, I don't have one off the top of my head, but I'm highly confident they exist.

One I do know off the top of my head is log4shell. A project would depend on something which depends on log4j, and the vulnerability in log4j is exploitable. This example is burned into my memory as it was such a big deal and continues to be a big deal.

[2022-09-23 14:44] prabhu commented on #164
Ok, will implement `--exclude-optional` and `--no-babel` which would satisfy this use case.

[2022-09-28 07:06] nE0sIghT commented on #150
Sorry for late response. I accidently posted this issue with wrong account.
I will try to create sample project.

[2022-09-30 18:00] nE0sIghT commented on #150
Here is sample project [1].
While making it I found that cause of this breakage is sbt dependency tree plugin.

[1] https://github.com/nE0sIghT/cdxgen-sbt-dependency-tree-conflict

[2022-10-04 14:36] prabhu commented on #151
Linked: https://github.com/AppThreat/cdxgen/issues/164

[2022-10-04 14:39] prabhu commented on #164
use cdxgen with both `--no-babel --required-only` to mimic these tools that rely on dev attribute in the lock files.

```cdxgen /mnt/work/sandbox/nodejs-goof --no-babel --required-only -p -o /tmp/bom.xml```

[2022-10-04 14:49] prabhu commented on #164
4.0.37 includes this feature. Thank you.

[2022-10-04 15:03] #150 closed

[2022-10-04 15:17] nE0sIghT commented on #150
Thanks!

[2022-10-04 15:48] prabhu commented on #150
Thank you for the sample project. Made it very easy to identify the fix!

[2022-10-06 12:09] #147 closed

[2022-10-06 12:13] prabhu commented on #147
@alexkhudyshkin This is now implemented in 4.0.41. I noticed that the scope usage analysis via maven isn't complete, so there are some packages with an empty scope. cdxgen would still retain these in the SBoM, so only those components where the scope is `optional` or `excluded` would get filtered out.

[2022-10-14 13:48] Lingom-KSR opened #167 "Seems cdxgen have to update with the latest version of CycloneDX - Maven"
Hi,
I have generated the SBOM for one of my maven projects using cdxgen and did comparison with CycloneDx results.  There is no major difference; however, few transitives does not have "dependsOn" from "Dependencies" array;  whereas it is available in CycloneDX results.

I thought its probably from the version difference; below are the version info from SBOM:

Cyclone DX Schema version - 1.4
cdxge

[2022-10-17 18:51] prabhu commented on #167
Are you using the latest cdxgen? We are using 2.7.1

https://github.com/AppThreat/cdxgen/blob/master/index.js#L590

[2022-10-18 05:49] Lingom-KSR commented on #167
Hy; I was using the old cdxgen version; updated to the latest version now.

Thank you.

[2022-10-18 05:49] #167 closed

[2022-10-19 09:54] miftacul commented on #56
yes, it will be good if cdxgen able to support for windows containers as well

[2022-10-20 09:27] jayachathu opened #169 "BOM file shows groupId with maven2 as a prefix"
We have uploaded our BOM for java project to dependency track. But it does not any vulnerabilities for java modules even when there are some know vulnerabilities in Sonar OSS Index. The below module is one of them.
[9:48 AM](http://mm.dancernetworks.com/devteam/pl/wzrcp4t7xtbexeaf7pcohgmmsw)

{
      "group": "maven2.com.zaxxer",
      "name": "nuprocess",
      "version": "2.0.2",
      "descript

[2022-10-20 09:44] prabhu commented on #169
@jayachathu Do you have any sample project to replicate this issue? Could you also run cdxgen with the environment variable `SCAN_DEBUG_MODE=debug` and share the log?

[2022-10-21 09:04] jayachathu commented on #169
@prabhu ,
This is the log.
[cdxgen-debug.pdf](https://github.com/AppThreat/cdxgen/files/9837481/cdxgen-debug.pdf)

[2022-10-21 15:54] prabhu commented on #169
Thanks @jayachathu. It looks like a bug in bazel output parser specifically https://github.com/AppThreat/cdxgen/blob/6c2dbfe866c8452f0fee6d0739128a8df0bb3c41/utils.js#L858

This has an example of the syntax https://github.com/AppThreat/cdxgen/blob/6c2dbfe866c8452f0fee6d0739128a8df0bb3c41/utils.js#L847

In this case, there is an extra maven2 directory which needs to be omitted.
/https/repo1.maven.o

[2022-10-25 08:41] stexandev opened #170 "javascript: required-only not working"
Starting with 4.0.37 `cdxgen --required-only` does not "find" any dependencies for javascript projects.

Instead it errors with the message:
[code]

Providing type or recursion option does not remediate this problem.

I think it may have something to do with the implementation of #164.

With best regards...

[2022-10-25 10:26] prabhu commented on #170
@stexandev Sounds like a bug. Could you run with the environment variable `SCAN_DEBUG_MODE=debug` and share the logs?

[2022-10-27 12:24] rwanauo commented on #157
I was having the same issue. I added a bit of logging and figured out the problem, but not a solution (yet.)

Running on Windows 11
Powershell 7, Not Elevated

[code]

I looked at `getGradleCommand` and did not see it ever returning `gradlew.bat`
https://github.com/AppThreat/cdxgen/blob/6c2dbfe866c8452f0fee6d0739128a8df0bb3c41/utils.js#L3152

To test, I just added ` + ".bat"` to that return  (`  r

[2022-10-27 16:49] prabhu commented on #157
@rwanauo
https://github.com/AppThreat/cdxgen/blob/6c2dbfe866c8452f0fee6d0739128a8df0bb3c41/utils.js#L3134
https://github.com/AppThreat/cdxgen/blob/6c2dbfe866c8452f0fee6d0739128a8df0bb3c41/utils.js#L3164

We need a logic to append `.bat` on Windows on these two places. Could you send a PR?

[2022-10-28 10:43] stexandev commented on #170
[code]

[2022-10-28 12:55] 2013kaa opened #171 "pass cdxgen to input a ready file with "gradlew dependencies -q --console > dep.txt""
Hi
If I understand correctly, when scanning projects with gradle, cdxgen launches its task "gradlew dependencies -q --console" and then analyzes the dependencies.
Is it possible to pass cdxgen to input a ready file with "gradlew dependencies -q --console > dep.txt" ?

[2022-10-28 14:36] prabhu commented on #170
@stexandev Could you try without `--required-only` ?

[2022-10-28 14:41] prabhu commented on #171
@2013kaa It's a good request. Let me think about this.

[2022-10-28 15:18] 2013kaa commented on #171
@prabhu I think this would be a great idea for companies with a lot of development teams.
Let me explain a little about my problem and how I arrived at it.
All the SCA scanners I've looked at work either through a builder plugin (cyclonedx-gradle-plugin example) or as an audit of build files (build.gradle example). Moreover, the first option is more preferable, as it gives the most complete report

[2022-11-01 15:35] Lingom-KSR opened #172 "Dependencies Array is not available in the generated BOM output for maven project."
Hi,
I have been using the latest version of the cdxgen and tried to generate the bom.json for maven project.

"Dependencies" array is not available in the generated bom. However, it was available in the older version of cdxgen.  Would like to know is there any argument I have to provide to get the dependencies array in bom file?

Also, in the component "publisher" information is not available (aga

[2022-11-01 17:23] prabhu commented on #172
@Lingom-KSR Could you run with the environment variable `SCAN_DEBUG_MODE=debug`?

[2022-11-02 07:36] Lingom-R commented on #172
Yes, I did. The printed logs just have "querying to the maven repos to access specific packages".
FYR -
"Querying https://repo1.maven.org/maven2/org/springframework/boot/spring-boot-starter/2.1.2.RELEASE/spring-boot-starter-2.1.2.RELEASE.pom".

[2022-11-02 11:24] rageofgods opened #173 "[YARN] support yarn2/yarn3"
Does it support v2/v3 yarn projects or v1 only?

[2022-11-02 16:04] stexandev commented on #170
It works without `--required-only`:
[code]

[2022-11-02 21:14] reynoldsaltair opened #175 "No hashes in boms"
Upgraded from 4.0.21 to 4.0.41 and the boms being produced do not have hashes included for the components. Sorry if I've missed something obvious.
command used: cdxgen -t java -o bom.xml
A sample of each output is below.

4.0.21
`<component type="library" bom-ref="pkg:maven/p2.eclipse-plugin/org.apache.commons.jxpath@1.3.0.v200911051830?type=jar">
      <group>p2.eclipse-plugin</group>
      <name

[2022-11-03 09:43] prabhu commented on #175
@reynoldsaltair could you run it with the environment variable `SCAN_DEBUG_MODE=debug` ?

[2022-11-03 09:47] prabhu commented on #170
@stexandev To use `--required-only` we need to pass the correct source code directory for the babel-based analyzer to perform usage analysis. Or you can include `--no-babel` to make cdxgen operate only with the information present in the lock file.

[2022-11-03 09:49] prabhu commented on #172
We have another ticket here - https://github.com/AppThreat/cdxgen/issues/175

Could you try 4.0.21 to see if it works correctly for you?

[2022-11-03 09:52] prabhu commented on #173
@rageofgods Looking at the test data under yarn_locks it appears like v1 only. Do you have any sample projects to test v2 or v3?

[2022-11-03 09:55] prabhu commented on #172
Ok, found the bug. Working on a fix atm.

[2022-11-03 12:12] prabhu commented on #172
@Lingom-KSR Could you kindly test the master branch and let me if it works for your use case?

[2022-11-03 12:13] prabhu commented on #175
@reynoldsaltair  Could you kindly test the master branch and let me know if it works for your use case?

[2022-11-03 12:27] reynoldsaltair commented on #175
Yep. Will let you know the result!

[2022-11-03 12:35] #169 closed

[2022-11-03 13:02] prabhu commented on #169
@jayachathu Could you try 4.0.42?

[2022-11-03 13:42] reynoldsaltair commented on #175
Looks to be fixed!
` <component type="library" bom-ref="pkg:maven/com.wpl.workbench/net.bytebuddy.agent@4.2.11.qualifier?classifier=byte-buddy-agent-1.6.7.jar&amp;type=jar">
      <group>com.wpl.workbench</group>
      <name>net.bytebuddy.agent</name>
      <version>4.2.11.qualifier</version>
      <description/>
      <scope>optional</scope>
      <hashes>
        <hash alg="MD5">933b9eef4c9703c7

[2022-11-03 13:51] Lingom-KSR commented on #172
Sure, let me test and update you.
Thanks.

[2022-11-03 13:53] #175 closed

[2022-11-03 13:53] prabhu commented on #175
Thanks @reynoldsaltair . Please take the latest version which includes the fix.

[2022-11-03 13:58] reynoldsaltair commented on #172
This is working for me now from master.

[2022-11-03 14:23] prabhu commented on #172
Thanks, @reynoldsaltair for confirming. Please use the latest version which includes the fixes.

[2022-11-03 15:42] Lingom-KSR commented on #172
@prabhu   Working for me as well. Thank You.

From my initial post at the top, is it possible to have "Publisher" information in the components as like CycloneDX?

[2022-11-03 16:29] #172 closed

[2022-11-03 16:30] prabhu commented on #172
@Lingom-KSR Please use 4.0.43 which also includes `publisher`

[2022-11-05 21:27] prabhu commented on #173
Hi @rageofgods, I tested against yarn 2 and 3 and cdxgen seems to be working fine. I have added a couple of unit tests now. let me know in case of any issues.

[2022-11-05 21:27] #173 closed

[2022-11-09 08:24] alfajr opened #176 "HTTPError: Response code 500 when generate and upload BOM to dependency track 4.6.0"
i run this command in nuxt project: `cdxgen -r --server-url $DT_API_URL --api-key $DT_API_KEY --project-id $DT_PROJECT_ID`
and got this error

    at Request.<anonymous> (C:\Users\al.fajri\AppData\Roaming\npm\node_modules\@appthreat\cdxgen\node_modules\got\dist\source\as-promise\index.js:118:42)
    at processTicksAndRejections (node:internal/process/task_queues:96:5) {
  code: 'ERR_NON_2XX_3XX_RE

[2022-11-09 15:12] prabhu commented on #176
@alfajr could you add -p and -o bom.xml to inspect the bom file? Also set the environment variable SCAN_DEBUG_MODE=debug to see if there are any errors while generating the sbom.

[2022-11-09 23:22] prabhu commented on #157
Thank you. It appears like on Windows the extension could also be .cmd. Will it be possible to send another PR with support for this extension?

Example project: https://github.com/HooliCorp/vuln-spring

[2022-11-10 00:45] prabhu commented on #170
@stexandev This was indeed a bug. I've released 4.0.44, including the fix and GitHub actions support.

[2022-11-11 07:40] stexandev commented on #170
Thank you @prabhu for your kind support. I can confirm that the bug was still present in 4.0.43 and is now resolved in 4.0.44.

[2022-11-11 07:40] #170 closed

[2022-11-11 09:41] prabhu opened #178 "Feature request: Scan a specific csproj"
### Discussed in https://github.com/AppThreat/cdxgen/discussions/168

<div type='discussions-op-text'>

<sup>Originally posted by **sduquette-devolutions** October 14, 2022</sup>
We have a project that has multiple csproj files in the same folder for different tools based on the same codebase. With dotnet-cyclonedx we can pass the path to the csproj file to generate them separately. It would be us

[2022-11-11 11:52] prabhu commented on #56
Let's do this.

[2022-11-16 22:05] prabhu commented on #38
Linux container images are now supported from 5.0.x onwards. Windows is also supported in os mode.

[2022-11-16 22:05] #38 closed

[2022-11-16 22:08] prabhu commented on #56
@miftacul Windows is supported in os mode with `-t os` argument. As explained here, you must install the binary plugins and run cdxgen from within Windows to generate the SBoM file.

https://github.com/AppThreat/cdxgen#plugins

I am yet to test if cdxgen can run successfully during the docker build phase.

Could you give this a try and let me know what you think?

[2022-11-16 22:23] prabhu opened #183 "Ask: Can cdxgen automatically install binary plugins"
We're using binary plugins to support containers, binary and OS scanning, which are currently optional and are around 200MB in size.

[code]

Could cdxgen install the plugin automatically by using the postinstall block in npm or via a dedicated download option? Any thoughts?

[2022-11-18 16:53] prabhu opened #185 "Windows OS scan is ridiculously slow"
Directories such as AppData are slowing things down evident from the github action workflow called win-tests. Perhaps, cdxgen should accept a file with location glob patterns instead of scanning all of AppData?

[2022-11-18 16:56] prabhu opened #186 "Parsing license strings in python bdist files is causing validation failures"
Need to understand what kind of values are in the license.name attribute that leads to cyclonedx validation failures. Temporarily removed license parsing to avoid validation failures.

[2022-11-18 21:05] prabhu commented on #185
This is improved with 5.2.1. Fixed a bug with directory expansion code that created numerous duplicates in the path list. Also moved the filesystem parsing behind a new `--deep` option.

[2022-11-18 21:05] #185 closed

[2022-11-19 18:10] prabhu opened #187 "Where is the support for helm, k8s, skaffold etc"
cdxgen could generate an SBoM for all images and apps defined in these manifests.

[2022-11-21 21:57] prabhu commented on #187
This is added in 5.3.0

[2022-11-21 21:58] prabhu commented on #141
5.3.0 enables recursive mode by default for various language types other than java.

[2022-11-21 21:58] #141 closed

[2022-11-21 22:44] prabhu opened #189 "Flake lockfile support"
https://github.com/NixOS/nixos-search/blob/main/flake.lock
https://github.com/nix-community/nixpkgs-lint/blob/master/flake.lock
https://github.com/DeterminateSystems/nix-to-kubernetes/blob/main/flake.lock

[2022-11-21 22:44] prabhu commented on #189
https://github.com/DeterminateSystems/nix-to-kubernetes/blob/main/flake.lock

[2022-11-21 23:09] prabhu opened #190 "Ahkpm lock file"
https://github.com/joshuacc/chalk.ahk/blob/main/ahkpm.lock

[2022-11-22 14:15] prabhu opened #191 "PKGBUILD support"
https://github.com/archlinux/svntogit-community/blob/packages/afl/trunk/PKGBUILD

[2022-11-22 14:18] prabhu opened #192 "generic packages especially downloaded ones in dockerfiles"
https://github.com/package-url/purl-spec/blob/master/PURL-TYPES.rst#generic

[2022-11-22 14:22] prabhu opened #193 "Use oci instead of docker while working with oci packages and registries"

[2022-11-25 03:58] kakumanivrn opened #195 "[Feature Request] Do you have plans to implement for Swift and Kotlin?"
Just wondering if you have plans to implement for Swift and Kotlin languages as well to scan vulnerabilities for mobile application SDKs as well.

[2022-11-25 10:13] prabhu commented on #195
@kakumanivrn Kotlin, based on gradle, must already work. Could you try it out and let me know if it doesn't? For Swift, could you share an example of a lock file or a package manifest file that is publicly available?

[2022-11-29 11:53] prabhu opened #196 "Persist the metadata about the container image and its layers"
Currently, the metadata about the image is collected but used only for untarring. This could be passed back via the metadata section and properties block.